{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Caribbean | Destination Details{% endblock %}</title>
<h1 class="color">Destinations Details</h1>
<p>
    <a class="color-return" href="{% url 'index' %}">Return Home</a>
</p>
<div class="cards-container">
    {% for place in places %}
    <div class="card" data-url="{% url 'destinations-details' pk=card.id %}" onclick="window.location = this.dataset.url">
        <img src="{% static 'images/' %}{{ place.image_name }}" alt="{{ place.title }}">
        <h1 class="color">{{ place.destinations }}</h1>
        <p>{{ place.content }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}