{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Caribbean | Destination Details{% endblock %}</title>
<h1 class="color">Destinations Details</h1>
<p>
    <a class="color-return" href="{% url 'index' %}">Return Home</a>
</p>
<div class="card-detail-wrapper">
    <div class="card-detail">
        <img src="{% static 'images/' %}{{ card.image_name }}" alt="{{ card.title }}">
    </div>
    <div class="card-content-box">
        <h1>{{ card.title }}</h1>
        <p>{{card.content }}</p>
    </div>
</div>
{% endblock %}