{% extends 'base.html' %}
{% load static %}
{% load comment_tags %}
{% block content %}
<title>{% block title %}Caribbean | Destination Details{% endblock %}</title>
<h1 class="color">Destinations Details</h1>
<p>
    <a class="color-return" href="{% url 'index' %}">Return Home</a>
</p>
<div class="cards-container">
    {% for place in places %}
    <div class="card">
        <img src="{% static 'images/' %}{{ place.image_name }}" alt="{{ place.destinations }}">
        <h1 class="color">{{ place.destinations }}</h1>
        <p>{{ place.content }}</p>

        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="place_id" value="{{ place.id }}">
            {{ form.as_p }}
            <button type="submit">Add comment</button>
        </form>
        {% endif %}

        <h2 class="color">Comments</h2>
        {% for comment in place.comments.all %}
        <div class="comment" data-id="{{ comment.id }}">
            <p><strong>{{ comment.user.username }}</strong> said:</p>
            <p>{{ comment.text }}</p>
            <small>{{ comment.created_at|date:"M d, Y H:i" }}</small>
            <div class="reaction-buttons">
                {% if user.is_authenticated %}
                <button class="like-btn" data-url="{% url 'toggle_reaction' comment.id 'like' %}">👍</button>
                <span class="like-count">{{ comment|reaction_count:"like"}}</span>
                <button class="dislike-btn" data-url="{% url 'toggle_reaction' comment.id 'dislike' %}">👎</button>
                <span class="dislike-count">{{ comment|reaction_count:"dislike"}}</span>
                {% else %}
                <p>Login to react.</p>
                {% endif %}
            </div>
        </div>
        {% if user == comment.user %}
        <div class="actions">
            <a href="{% url 'edit-comment' pk=comment.pk %}">Edit</a>
            <a href="{% url 'delete-comment' pk=comment.pk %}">Delete</a>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    {% endfor %}
</div>
{% endblock %}