{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}{% endblock %}</title>
<h2 class="color">Info</h2>
<p>
    <a class="color-return" href="{% url 'index' %}">Return Home</a>
</p>
<div class="form-map-container">
    <section id="form">
        <form id="contact-form" method="post" action="{% url 'info' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </section>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11815396.6270207!2d-82.98129605837195!3d18.34791863216743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb9e309d5a038b7%3A0xc67ecf32cac5dbdc!2sCaribbean!5e1!3m2!1sen!2suk!4v1773260669137!5m2!1sen!2suk"
            width="600" height="450" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>
{% endblock %}