{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Caribbean | Register{% endblock %}</title>
<h2 class="color">The Register Page</h2>
<p>
    <a class="color-return" href="{% url 'index' %}">Return Home</a>
</p>
<div class="form-map-container">
    <section id="form">
        <form id="contact-form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Enter your details</p>
            <button type="submit">Submit</button>
        </form>
    </section>
</div>
{% endblock %}